.center-pane-container {
  padding: 1.5rem; /* 24px */
}

.center-pane-container .header {
  text-align: right;
}

.center-pane-container .header .toggleBtn {
  float: left;
}

.center-pane-container .header .date,
.center-pane-container .header .search {
  display: inline-block;
}

.center-pane-container .header .date {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 500; /* regular */
}

.center-pane-container .header .search span {
  cursor: pointer;
  display: flex;
  width: 55px;
  height: 55px;
  background-color: #e5e9fa;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-left: 30px;
}

.center-pane-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
