.center-pane-container {
  padding: 1.5rem; /* 24px */
}

.center-pane-container .header {
  text-align: right;
}

.center-pane-container .header .toggleBtn {
  border: none;
  position: absolute;
  background-color: transparent;
  left: 15px;
  top: 42px;
}

.center-pane-container .header .toggleBtn span {
  display: block;
  width: 30px;
  border-top: 2px solid #000;
  margin-bottom: 5px;
}

.center-pane-container .header .date,
.center-pane-container .header .search {
  display: inline-block;
}

.center-pane-container .header .date {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 500; /* regular */
}

.center-pane-container .header .search span {
  cursor: pointer;
  display: flex;
  width: 55px;
  height: 55px;
  background-color: #e5e9fa;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-left: 30px;
}

.center-pane-container .header .profile {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  padding: 16px 18px;
  background-color: #e5e9f9;
  border-radius: 10px;
  color: #7996f5;
  margin-left: 12px;
}

.center-pane-container .header .profile button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}

.center-pane-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
