.container-fluid {
  padding: 0;
}

.flex-container {
  display: flex;
}

.flex-container .leftpane,
.flex-container .rightpane {
  width: 20%;
}

.flex-container .centerpane {
  width: 60%;
  background-color: #f5f5fb;
}
