.container-fluid {
  padding: 0;
}

.flex-container {
  display: flex;
}

.flex-container .leftpane,
.flex-container .rightpane {
  width: 20%;
}

.flex-container .centerpane {
  width: 60%;
  background-color: #f5f5fb;
}

@media screen and (max-width: 1300px) {
  .flex-container {
    display: block;
    padding: 0;
  }

  .flex-container .centerpane {
    width: 100% !important;
  }

  .flex-container .leftpane {
    position: absolute;
    width: 400px;
    z-index: 1;
  }

  .flex-container .rightpane {
    position: absolute;
    width: 80%;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #f5f5fb;
  }
}

@media screen and (max-width: 767px) {
  .flex-container .leftpane {
    width: 80%;
  }
}
