.greeting {
  background-color: #f7e5e9;
  border-radius: 1rem; /* 16px */
  padding: 1.5rem; /* 24px */
  margin-top: 3.375rem; /* 54px */
}

.greeting h2 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 700; /* bold */
  color: #ff808b;
}

.greeting p {
  font-size: 1.125rem; /* 18px */
  line-height: 1.5rem; /* 24px */
  color: #000000;
  font-weight: 400; /* regular */
}

.greeting img {
  margin-top: -75px;
}

.data {
  display: flex;
  justify-content: space-between;
}

.data .latest-results {
  width: 40%;
}

.data .time-spent {
  width: 50%;
  margin-left: 2rem; /* 32px */
}

.data .latest-results,
.data .time-spent {
  margin-top: 2.5rem; /* 40px */
  padding: 2rem; /* 32px */
  background-color: #ffffff;
  border-radius: 1rem; /* 16px */
}

.data .latest-results .header,
.data .time-spent .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.75rem; /* 44px */
}

.data .latest-results .header span.title,
.data .latest-results .header span.more {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 500; /* semibold */
  color: #111026;
}

.data .latest-results .header span.more svg {
  vertical-align: middle;
}

.data .latest-results .body ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1.5rem; /* 24px */
}

.data .latest-results .body ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem; /* 24px */
  margin-bottom: 1.5rem; /* 24px */
  border-bottom: 1px solid #000000;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  color: #111026;
}

.data .latest-results .body ul li:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.data .latest-results .body ul li .subject .unit {
  font-weight: 600; /* semibold */
}

.data .latest-results .body ul li .subject .type {
  color: #a2a2c2;
}

.data .latest-results .body ul li .progress .bar {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 5px;
  background-color: #dcdce5;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 3px;
}

.data .latest-results .body ul li .progress .bar .fill {
  position: absolute;
  display: inline-block;
  height: 5px;
  background-color: #5e81f4;
  border-radius: 3px;
}

.data .time-spent ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.data .time-spent ul.progress li span {
  display: block;
}

.data .time-spent ul.progress li span.bar {
  width: 5px;
  height: 196px;
  background-color: aliceblue;
  margin: 28px auto;
  border-radius: 3px;
}

.vocabulary {
  background-color: #ff808b;
}

.grammar {
  background-color: #4d4cac;
}

.listening {
  background-color: #5e81f4;
}

.writing {
  background-color: #c8c9e9;
}

.data .time-spent .header span .duration {
  border: none;
  cursor: pointer;
  outline: none;
}

.data .time-spent ul.progress li span.bar .vocabulary {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.data .time-spent ul.progress li span.bar .writing {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.data .time-spent ul.subject {
  margin-top: 20px;
}

.data .time-spent ul li span.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-right: 5px;
}

.data .time-spent ul.subject li span.text {
  font-size: 13px;
}

.courses {
  margin: 2.25rem 0rem; /* 36px */
}

.courses .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.25rem;
}

.courses .header span svg {
  vertical-align: middle;
}

.courses .header span .title,
.courses .header span .more {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  color: #111026;
  font-weight: 500; /* regular */
}

.courses .body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.courses .body ul .course-details {
  padding: 1.5rem; /* 24px */
  border-radius: 1.25rem; /* 20px */
}

.courses .body ul .course-details span {
  display: inline-block;
  vertical-align: bottom;
}

.courses .body .course-details .class {
  padding: 1rem; /* 16px */
  font-size: 1rem; /* 16px */
  color: #fff;
  background-color: rgb(255 255 255 / 15%);
  border-radius: 0.5rem;
}

.courses .body .course-details .class-details {
  vertical-align: top !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.courses .body .course-details .more-details {
  fill: #ffffff;
  cursor: pointer;
}

.courses .body .course-details .class-details .topic {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  color: #fff;
  font-weight: 500;
}

.courses .body .course-details .class-details .topic-type {
  font-size: 0.875rem; /* 14px */
  line-height: 1.3125rem; /* 21px */
  color: rgb(255 255 255 / 80%);
}

@media screen and (max-width: 1300px) {
  .data {
    display: block;
  }

  .data .latest-results,
  .data .time-spent {
    width: auto;
    margin-left: 0;
  }

  .courses .body ul {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .courses .body ul li {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .greeting .responsive-image {
    margin-top: 0;
  }
}
